interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://bugs.gentoo.org/xmlrpc.cgi
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>Bugzilla.version</methodName>

      <params>

      <param>

      <value><struct>

      </struct></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type:
      - text/xml
    method: POST
    uri: https://bugs.gentoo.org/xmlrpc.cgi
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><methodResponse><params><param><value><struct><member><name>version</name><value><string>5.0.6</string></value></member></struct></value></param></params></methodResponse>
    headers:
      Content-Type:
      - text/xml
      ETag:
      - 7sMmJjLeC0KDNcgYXJQLEw
      SOAPServer:
      - SOAP::Lite/Perl/1.27
    status:
      code: 200
      message: OK
version: 1
